<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head th:replace="~{head :: head}"></head>
<body>
<div class="min-h-screen bg-slate-900 p-8">
    <div th:replace="~{cabecalho :: cabecalho}"></div>
    <div th:replace="~{nav :: nav}"></div>

    <div class="space-x-6 p-6 bg-slate-50 rounded-md border-2">
        <div class="font-bold text-center mb-2">
            <h1>AQUI É DELETAR</h1>
        </div>
    </div>

    <footer th:replace="~{rodape :: rodape}"></div>
</div>
</body>