<div th:fragment="nav">
    <div class="flex space-x-3 justify-center mb-3">
        <a th:href="@{/}"><button class="px-4 py-1 bg-purple-500 text-white text-sm font-semibold rounded-md hover:bg-purple-400 border">Inicio</button></a>
        <a th:href="@{/cadastrar}"><button class="px-4 py-1 bg-purple-500 text-white text-sm font-semibold rounded-md hover:bg-purple-400 border">Cadastrar</button></a>
        <a th:href="@{/atualizar}"><button class="px-4 py-1 bg-purple-500 text-white text-sm font-semibold rounded-md hover:bg-purple-400 border">Atualizar</button></a>
        <a th:href="@{/deletar}"><button class="px-4 py-1 bg-purple-500 text-white text-sm font-semibold rounded-md hover:bg-purple-400 border">Deletar</button></a>
    </div>
</div>